/* text color start */
.harmoni-1st{
    color: #F76C0C;
}
.harmoni-2nd{
    color: #F85240;
}
/* text color end */
/* background color start */
.harmoni-bg-1st{
    background-color: #E5E5E5;
}

/* background color end */